.lane-marker-container {
	width: unset !important;
	height: unset !important;

	display: flex;
	background-color: transparent;
	position: relative;
}

.user-location-container {
	width: 90px !important;
	height: 90px !important;

	margin-top: -45px !important;
	margin-left: -45px !important;
}

.lane-marker-container svg,
.user-location-container svg {
	z-index: 0;
}

.lane-marker-container span {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-style: italic;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	position: absolute;
	margin-left: -1px;
	color: #fed801;
}
